### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()
Num_players = purchase_data["SN"].nunique()
Num_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Avg_Price = round(purchase_data["Price"].mean(), 2)
Total_Rev= round(purchase_data["Price"].sum(), 2)
Num_unique_items = purchase_data["Item ID"].nunique()
Num_Purchases = purchase_data["Purchase ID"].value_counts()

Purchase_Analysis = pd.DataFrame({"Number of Unique Items":[Num_unique_items],
                                 "Average Price": [Avg_Price],
                                 "Number of Purchases": [len(Num_Purchases)],
                                 "Total Revenue": [Total_Rev]})
Purchase_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Dropping duplicate purchases by players
gender_dem_df = purchase_data.drop_duplicates(subset =["SN"])

#Getting Values based on new dataframe
gender_count = gender_dem_df["Gender"].value_counts(normalize = False)
gender_count_perc = round(gender_dem_df["Gender"].value_counts(normalize = True)*100, 1)

#Putting data together then reorganizing it to make it look pretty
merge_df = pd.DataFrame([gender_count, gender_count_perc])
merge_df = merge_df.T
merge_df.columns = ["Total Count", "Percentage of Players"]
merge_df

                       Total Count  Percentage of Players
Male                         484.0                   84.0
Female                        81.0                   14.1
Other / Non-Disclosed         11.0                    1.9


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Obtain Data for males only then filter as needed
Male_data_df = purchase_data.loc[(purchase_data.Gender == "Male")]
Male_data_df

#Getting Data values for just Males dataframe
Male_purch_cnt = Male_data_df["Purchase ID"].count()
Male_avg_price = round(Male_data_df["Price"].mean(), 2)
Male_tot_price = Male_data_df["Price"].sum()
#Male_avg_tot_price = Male_data_df["Price"].median()
#Male_avg_tot_price

#Obtain Data for females only then filter as needed
Female_data_df = purchase_data.loc[(purchase_data.Gender == "Female")]

#Getting Data values for just Females dataframe
Female_purch_cnt = Female_data_df["Purchase ID"].count()
Female_avg_price = round(Female_data_df["Price"].mean(), 2)
Female_tot_price = Female_data_df["Price"].sum()

#Obtain Data for others only then filter as needed
Other_data_df = purchase_data.loc[(purchase_data.Gender == "Other / Non-Disclosed")]

#Getting Data values for just Others dataframe
Other_purch_cnt = Other_data_df["Purchase ID"].count()
Other_avg_price = round(Other_data_df["Price"].mean(), 2)
Other_tot_price = Other_data_df["Price"].sum()
gender = ["Female", "Male", "Other / Non-Disclosed"]

New_df = pd.DataFrame({"Purchase Count":[Female_purch_cnt, Male_purch_cnt, Other_purch_cnt],
                        "Average Purchase Price": [Female_avg_price, Male_avg_price, Other_avg_price],
                      "Total Purchase Value": [Female_tot_price, Male_tot_price,Other_tot_price]},
                     index=gender)
New_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#making bins and labels
bins = [0,9,14,19,24,29,34,39,100]
Age_range = ["<10","10-14","15-19","20-24","25-29","30-34","35-39", "40+"]

gender_dem_df["Age Range"] = pd.cut(gender_dem_df["Age"], bins, right=True, labels = Age_range)
Age_range_df = gender_dem_df.groupby("Age Range")["SN"].count()
Perc_range_df = round((Age_range_df/Num_players)*100, 2)


column_header = ["Total Count", "Percentage of Players"]

Age_dem_df = pd.DataFrame([Age_range_df,Perc_range_df])
Age_dem_df = Age_dem_df.T
Age_dem_df.columns = ["Total Count", "Percentage of Players"]
Age_dem_df

<ipython-input-6-47972a5ba02f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_dem_df["Age Range"] = pd.cut(gender_dem_df["Age"], bins, right=True, labels = Age_range)

           Total Count  Percentage of Players
Age Range
<10               17.0                   2.95
10-14             22.0                   3.82
15-19            107.0                  18.58
20-24            258.0                  44.79
25-29             77.0                  13.37
30-34             52.0                   9.03
35-39             31.0                   5.38
40+               12.0                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#creating age range based on bins
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, right=True, labels = Age_range)

Age_pur = purchase_data.groupby("Age Range")["SN"].count()
Age_avg_pur_price = round(purchase_data.groupby("Age Range")["Price"].mean(), 2)
Age_sum_price = purchase_data.groupby("Age Range")["Price"].sum()
#Age_price_per = purchase_data.groupby("Age Range")["Price"].mean()
# still missing avg price per person

#pulling all my data together to make it pretty
Purchase_Analysis_df = pd.DataFrame([Age_pur, Age_avg_pur_price, Age_sum_price])
Purchase_Analysis_df = Purchase_Analysis_df.T
Purchase_Analysis_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
Purchase_Analysis_df

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
<10                  23.0                    3.35                 77.13
10-14                28.0                    2.96                 82.78
15-19               136.0                    3.04                412.89
20-24               365.0                    3.05               1114.06
25-29               101.0                    2.90                293.00
30-34                73.0                    2.93                214.00
35-39                41.0                    3.60                147.67
40+                  13.0                    2.94                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#gather data 
Top_spenders = purchase_data.groupby("SN")["Price"].sum()

Top_avg = purchase_data.groupby("SN")["Price"].mean()

Top_count = purchase_data.groupby("SN")["Price"].count()

#cleaning up my data
Top_Spenders_df = pd.DataFrame([Top_count,Top_avg,Top_spenders])
Top_Spenders_df = Top_Spenders_df.T #transverse my index and columns
#rename columns
Top_Spenders_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
Top_Spenders_df.sort_values(by=["Purchase Count"], inplace=True, ascending=False)
Top_Spenders_df.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93               5.0                3.792000                 18.96
Iral74                  4.0                3.405000                 13.62
Idastidru52             4.0                3.862500                 15.45
Asur53                  3.0                2.480000                  7.44
Inguron55               3.0                3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
Pop_item = pd.DataFrame()
Pop_items_df = purchase_data[['Item ID','Price','Item Name']]
Groups = Pop_items_df.groupby(['Item ID','Item Name'])

item_totals['Purchase Count'] = Groups['Item ID'].count()
item_totals['Item Price'] = round(Groups['Price'].mean(), 2)
item_totals["Total Purchase Value"] = round(Groups['Price'].sum(), 2)
item_totals.sort_values(by=["Purchase Count"], inplace=True, ascending=False)
item_totals.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
item_totals.sort_values(by=["Total Purchase Value"], inplace=True, ascending=False)
item_totals.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80